@import "./../../../styles.variables";

:host {
  position: fixed;
  width: 100%;
}

header {
  background-color: #333; // provv
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
}

.header--logo {
  display: inline-block;
  height: 4px;
  width: 40px;

  background-color: $color--text;
  border-radius: 2px;
}

.header--button {
  display: flex;
  flex-flow: column;
  span {
    display: inline-block;
    position: relative;
    width: 25px;
    margin-bottom: 8px;

    border: 1px solid $color--text;
    border-radius: 1px;
    &:last-child {
      width: 17px;
      margin-bottom: 0px;
    }
  }
}

.header--button__list-open {
  span {
    transform: rotate(-45deg);
    &:first-child {
      top: 9px;
      transform: rotate(45deg);
    }
    &:last-child {
      opacity: 0;
    }
  }
}
